# Junções

Existem diversas variedades da operação de junção. Porém, de longe a mais importante é a chamada junção natural, tanto que, o termo junção não qualificado é empregado invariavelmente para indicar de forma específica a junção natural.

#### Relações

Para os exemplos a seguir, considere as seguintes relações

`S` - Tropas

|cod|divisão|
|---|-------|
|1|Polícia Militar|
|2|Guarnição|
|3|Reconhecimento|
|4|Esquadrão de Cadetes|

`R` - Membros

|cod|tropa|nome|
|---|-----|----|
|1|2|Kitz Weilman|
|2|3|Levi Ackerman|
|3|2|Rico Brzenska|
|4|-1|Annie Leonhart|
|5|3|Jean Kirstein|
|6|3|Armin Arlert|
|7|-1|Reiner Braun|
|8|1|Hitch Dreyse|

In [1]:
# Declaração das Relações

## Natural

O resultado da junção natural é uma tabela com todas as combinações das tuplas em R e S que seu atributos em comum são iguais.

### `×` Cruzada

```sql
SELECT * FROM membros R, tropas S WHERE R.tropa = S.cod
```

In [2]:
# cross join

### `⋈` Interna

```sql
SELECT * FROM membros R JOIN tropas S ON R.tropa = S.cod
```

In [3]:
# inner join

## Externa

O resultado do junção externa é o conjunto de todas as combinações das tuplas em R e S que seus atributos em comum são iguais , além disso, tuplas em R que não tem correspondência em S.

### `⟕` Esquerda

```sql
SELECT * FROM membros R LEFT JOIN tropas S ON R.tropa = S.cod
```

In [4]:
# left outer join

### `⟖` Direita

```sql
SELECT * FROM membros R RIGHT JOIN tropas S ON R.tropa = S.cod
```

In [5]:
# right outer join

### `⟗` Completa

```sql
SELECT * FROM membros R FULL OUTER JOIN tropas S ON R.tropa = S.cod
```

In [6]:
# full outer join

## Semijunção
O resultado da semijunção é o conjunto de todas as tuplas em R para o qual existe uma tupla em S que é igual em seus nomes de atributos comuns.

### `⋉` Esquerda

```sql
SELECT * FROM membros R LEFT SEMI JOIN JOIN tropas S ON R.tropa = S.cod
```

In [10]:
# semi left join

### `⋊` Direita

```sql
SELECT * FROM membros R RIGHT SEMI JOIN JOIN tropas S ON R.tropa = S.cod
```

In [11]:
# semi right join

## Antijunção

O resultado de uma antijunção é apenas aquelas tuplas em R para as quais NÃO existe uma tupla em S que possua os mesmos nomes de atributos.

### `▷` Esquerda

```sql
SELECT * FROM membros R LEFT ANTI JOIN tropas S ON R.tropa = S.cod
```

In [7]:
# anti left join

### `◁` Direita

```sql
SELECT * FROM tropas S RIGHT ANTI JOIN membros R ON R.tropa = S.cod
```

In [8]:
# anti right join