## Dia 1

### Criação

In [1]:
from csvms.engine import Engine
# Ao executar o SQL uma nova tabela deve ser criada, de acordo com a especificação
Engine().execute("""CREATE TABLE lista_frutas (nm_fruta TEXT, tp_fruta TEXT)""") 
Engine().execute("""CREATE TABLE tipo_frutas (tp_fruta TEXT,vl_fruta FLOAT)""")

2022-11-07 14:37:03,058: creating new data dictionary in data/catalog.json

A Tabela lista_frutas foi criada com sucesso!

A Tabela tipo_frutas foi criada com sucesso!

### Inclusão

In [3]:
from csvms.engine import Engine
# Ao executar o SQL as quatro linhas devem ser inseridas na tabela lista_frutas
Engine().execute("""INSERT INTO lista_frutas VALUES ('banana','doce');
                    INSERT INTO lista_frutas VALUES ('limão','amargo');
                    INSERT INTO lista_frutas VALUES ('bergamota','azedo');
                    INSERT INTO lista_frutas VALUES ('maçã','doce');COMMIT;""")

Resgistros inseridos com sucesso!

### Atualização

In [4]:
from csvms.engine import Engine
# Ao executar o SQL os valores devem ser atualizados
Engine().execute("""UPDATE lista_frutas SET tp_fruta = 'azedo' WHERE nm_fruta = 'limão';COMMIT;""")

Resgistros inseridos com sucesso!

A Tabela lista_frutas foi atualizada com sucesso!

### Deleção

In [5]:
from csvms.engine import Engine
# Ao executar o SQL os valores devem ser removidos
Engine().execute("""DELETE FROM lista_frutas WHERE nm_fruta = 'limão';COMMIT;""")

Resgistros inseridos com sucesso!

O registro solicitado foi excluido de lista_frutas com sucesso!

### Inserção

In [5]:
from csvms.engine import Engine
# Ao executar o SQL as quatro linhas devem ser inseridas na tabela tipo_frutas 
Engine().execute("""INSERT INTO tipo_frutas VALUES ('doce',1.5);
                    INSERT INTO tipo_frutas VALUES ('amargo',2.0);COMMIT;""")

Resgistros inseridos com sucesso!

### Lotes

In [1]:
from csvms.engine import Engine
import os
import shutil

if os.path.exists(os.getcwd() + "/data"):
    path = os.getcwd() + "/data"
    shutil.rmtree(path)

sql_lotes = Engine().sql_file_recovering('sql_data')

print(sql_lotes)

Arquivo encontrado e processado.

2022-11-17 15:31:28,034: creating new data dictionary in data/catalog.json

A Tabela lista_frutas foi criada com sucesso!

A Tabela tipo_frutas foi criada com sucesso!

A Tabela venda_frutas foi criada com sucesso!

Resgistros inseridos com sucesso!

A Tabela lista_frutas foi atualizada com sucesso!

A Tabela tipo_frutas foi atualizada com sucesso!

A Tabela lista_frutas foi atualizada com sucesso!

A Tabela venda_frutas foi atualizada com sucesso!

O registro solicitado foi excluido de lista_frutas com sucesso!

None

## Dia 2

### Concatenação

In [2]:
from csvms.table import Table

A = Table(name="lista_frutas").Π({'concat':['nm_fruta','tp_fruta']})
print(A)

TABLE: default.(lista_frutasΠ)
   +---------+---------+-----------------------------------+
   |nm_fruta |tp_fruta |{'concat':['nm_fruta','tp_fruta']} |
   +---------+---------+-----------------------------------+
  0|   banana|     doce|                         bananadoce|
  1|    limão|    azedo|                         limãoazedo|
  2|     maçã|     doce|                           maçãdoce|
   +---------+---------+-----------------------------------+

### Exponenciação

In [3]:
from csvms.table import Table

A = Table(name="lista_frutas").Π({'pow':[2,4]})
print(A)

TABLE: default.(lista_frutasΠ)
   +---------+---------+--------------+
   |nm_fruta |tp_fruta |{'pow':[2,4]} |
   +---------+---------+--------------+
  0|   banana|     doce|            16|
  1|    limão|    azedo|            16|
  2|     maçã|     doce|            16|
   +---------+---------+--------------+

### Junção Externa Esquerda

In [4]:
from csvms.table import Table
tbl = Table('lista_frutas').ᗌᐊ(Table('tipo_frutas'), where={'eq':['lista_frutas.tp_fruta','tipo_frutas.tp_fruta']})
print(tbl)

TABLE: default.(lista_frutas⟕tipo_frutas)
   +----------------------+----------------------+---------------------+---------------------+
   |nm_fruta              |tp_fruta              |tp_fruta             |vl_fruta             |
   +----------------------+----------------------+---------------------+---------------------+
  0|                banana|                  doce|                 doce|                  1.5|
  1|                 limão|                 azedo|                azedo|                  2.5|
  2|                  maçã|                  doce|                 doce|                  1.5|
   +----------------------+----------------------+---------------------+---------------------+

### Junção Externa Direita

In [5]:
from csvms.table import Table
tbl = Table('lista_frutas').ᐅᗏ(Table('tipo_frutas'), where={'eq':['lista_frutas.tp_fruta','tipo_frutas.tp_fruta']})
print(tbl)

TABLE: default.(lista_frutas⟖tipo_frutas)
   +----------------------+----------------------+---------------------+---------------------+
   |nm_fruta              |tp_fruta              |tp_fruta             |vl_fruta             |
   +----------------------+----------------------+---------------------+---------------------+
  0|                banana|                  doce|                 doce|                  1.5|
  1|                 limão|                 azedo|                azedo|                  2.5|
  2|                  maçã|                  doce|                 doce|                  1.5|
  3|                  None|                  None|               amargo|                  2.0|
   +----------------------+----------------------+---------------------+---------------------+

### Junção Externa Completa

In [ ]:
from csvms.table import Table
tbl = Table('lista_frutas').ᗌᗏ(Table('tipo_frutas'), where={'eq':['lista_frutas.tp_fruta','tipo_frutas.tp_fruta']})
print(tbl)

###  Semijunção Esquerda

In [ ]:
from csvms.table import Table
tbl = Table('lista_frutas').ᐅᐸ(Table('tipo_frutas'), where={'eq':['lista_frutas.tp_fruta','tipo_frutas.tp_fruta']})
print(tbl)

### Semijunção Direita

In [ ]:
from csvms.table import Table
tbl = Table('lista_frutas').ᐳᐊ(Table('tipo_frutas'), where={'eq':['lista_frutas.tp_fruta','tipo_frutas.tp_fruta']})
print(tbl)

### Antijunção Esquerda

In [ ]:
from csvms.table import Table
tbl = Table('lista_frutas').ᐅ(Table('tipo_frutas'), where={'eq':['lista_frutas.tp_fruta','tipo_frutas.tp_fruta']})
print(tbl)

### Antijunção Direita

In [ ]:
from csvms.table import Table
tbl = Table('lista_frutas').ᐊ(Table('tipo_frutas'), where={'eq':['lista_frutas.tp_fruta','tipo_frutas.tp_fruta']})
print(tbl)

## Dia 3

### Seleção

In [1]:
from csvms.engine import Engine
# Ao executar o SQL uma nova tabela deve ser criada, de acordo com a especificação
Engine().execute("""SELECT * FROM venda_frutas""")

 +----------+---------+----------+
 |cod_venda |nm_fruta |qtd_venda |
 +----------+---------+----------+
0|         1|   banana|        10|
1|         2|   banana|        12|
2|         3|    limão|        20|
3|         4|   banana|         8|
4|         5|    limão|         8|
 +----------+---------+----------+

Query executada com sucesso.

### Junção Cruzada

In [2]:
from csvms.engine import Engine
# Ao executar o SQL uma nova tabela deve ser criada, de acordo com a especificação
Engine().execute("""SELECT l.nm_fruta AS fruta, t.vl_fruta AS valor FROM lista_frutas l, tipo_frutas t WHERE l.tp_fruta = t.tp_fruta""")

 +------+------+
 |fruta |valor |
 +------+------+
0|banana|   1.5|
1| limão|   2.5|
2|  maçã|   1.5|
 +------+------+

Query executada com sucesso.

## Testing and debugging

##### Teste Principal

In [ ]:
from test_day1 import test_criacao, test_inclusao, test_insercao, test_atualizacao, test_delecao

test_criacao()

test_inclusao()

test_insercao()

test_atualizacao()

#test_delecao()

#### Testing and Debugging Lotes

In [ ]:
from csvms.engine import Engine
import os
import shutil

if os.path.exists(os.getcwd() + "/data"):
    path = os.getcwd() + "/data"
    shutil.rmtree(path)

test = Engine().sql_file_recovering('sql_data')

print(test)

#### Dia 3 - Seleção

In [5]:
from csvms.engine import Engine
# Ao executar o SQL uma nova tabela deve ser criada, de acordo com a especificação
Engine().execute("""SELECT * FROM lista_frutas""")

 +---------+---------+
 |nm_fruta |tp_fruta |
 +---------+---------+
0|   banana|     doce|
1|    limão|    azedo|
2|     maçã|     doce|
 +---------+---------+

#### Dia 3 - Junção Cruzada

In [1]:
from csvms.engine import Engine
# Ao executar o SQL uma nova tabela deve ser criada, de acordo com a especificação
Engine().execute("""SELECT l.nm_fruta AS fruta, t.vl_fruta AS valor FROM lista_frutas l, tipo_frutas t WHERE l.tp_fruta = t.tp_fruta""")

 +------+------+
 |fruta |valor |
 +------+------+
0|banana|   1.5|
1| limão|   2.5|
2|  maçã|   1.5|
 +------+------+

##### Other Test

In [2]:
from csvms.engine import Engine
# Ao executar o SQL uma nova tabela deve ser criada, de acordo com a especificação
Engine().execute("""SELECT t.vl_fruta AS valor, l.nm_fruta AS fruta FROM lista_frutas l, tipo_frutas t WHERE l.tp_fruta = t.tp_fruta""")

vl_fruta
{'vl_fruta': ['1.5', '2.5', '1.5']}
 +------+------+
 |fruta |valor |
 +------+------+
0|   1.5|banana|
1|   2.5| limão|
2|   1.5|  maçã|
 +------+------+

#### Misc

In [3]:
from tests.core.test_joins import test_inner_join_projection

test_inner_join_projection()

(1, 'a', 0.55)
(3, 'c', None)

AssertionError:

In [4]:
from tests.core.test_joins import test_cross_join

test_cross_join()

In [5]:
from tests.core.test_operations import test_union

test_union()

AssertionError:

In [ ]:
from mo_sql_parsing import parse

sql = """INSERT INTO lista_frutas VALUES ('banana','doce');COMMIT;"""

sql2 = """
    UPDATE lista_frutas
    SET tp_fruta = 'azedo'
    WHERE nm_fruta = 'limão';
    COMMIT;"""

sql3 = """
    CREATE TABLE lista_frutas (
        nm_fruta TEXT ,
        tp_fruta TEXT 
    )"""

sql_lista = sql.split(";")
print(sql_lista)
sql_lista = [item.strip().lower() for item in sql_lista if item != ""]
sql_lista = sql_lista[:-1]
print(sql_lista)
sqll = " ".join(sql_lista)

ast2 = parse(sql_lista)
print(ast2)


#for pos_value in range(len(ast2['query']['select'])):
#        values += (ast2['query']['select'][pos_value]
#                               ['value']['literal'], )

#print([values])

In [ ]:
from csvms.table import Table
from json import loads

a = Table(name="lista_frutas").load()
print(a)

with open("./data/catalog.json") as f:
        data = f.read()
ndata = list(loads(data).values())
print(ndata)
name = "lista_frutas"
cols = {}
for table in ndata:
        if table['name'] == f"default.{name}":
                cnames = list(table['columns'].keys())
                ctypes = list(table['columns'].values())
                for name, type in zip(cnames, ctypes):
                        ctype = Table.dtypes[type]
                        cols[name] = ctype
        print(cols)

In [ ]:
from mo_sql_parsing import parse

sql1 = """
    INSERT INTO lista_frutas VALUES ('banana','doce');
    INSERT INTO lista_frutas VALUES ('limão','amargo');
    INSERT INTO lista_frutas VALUES ('bergamota','azedo');
    INSERT INTO lista_frutas VALUES ('maçã','doce');
    COMMIT;"""

sql2 = """
    INSERT INTO tipo_frutas VALUES ('doce',1.5);
    INSERT INTO tipo_frutas VALUES ('amargo',2.0);
    COMMIT;"""

sql3 = """
    UPDATE lista_frutas
    SET tp_fruta = 'azedo'
    WHERE nm_fruta = 'limão';
    COMMIT;"""

sql4 = """
    CREATE TABLE tipo_frutas (
        tp_fruta TEXT,
        vl_fruta FLOAT
    )"""


sql_lista = sql3.split(";")
sql_lista = [item.strip().lower()
                    for item in sql_lista if item != ""]

print(sql_lista)

#ast = parse(sql_lista)
#print(ast)

"""if sql.lower().split()[0] == 'insert':
    for sql_insert in sql_lista[:-1]:
        #print(sql_insert)
        ast = parse(sql_insert)
        #print(ast)
        values = ()
        for pos_value in range(len(ast['query']['select'])):
            values += (ast['query']['select'][pos_value]
                        ['value']['literal'], )
    print(values)

"""

"""for sql_insert in sql_lista[:-1]:
                    ast = parse(sql_insert)
                    #print(ast)
                    value_extraction = ast['query']['select']
                    name = ast['insert']
                    values = ()
                    for pos_value in range(len(value_extraction)):
                        #print(value_extraction[pos_value].get("value"))
                        if type(value_extraction[pos_value].get('value')) is dict:
                            values += (list(value_extraction[pos_value].get('value').values())[0], )
                        else:
                            values += (value_extraction[pos_value].get("value"), )
                    print(values)"""

In [ ]:
from mo_sql_parsing import parse

sql3 = """
    UPDATE lista_frutas
    SET tp_fruta = 'azedo'
    WHERE nm_fruta = 'limão';
    COMMIT;"""


sql_lista = sql3.split(";")
sql_lista = [item.strip().lower()
                    for item in sql_lista if item != ""]

print(sql_lista)

sql = ' '.join(sql_lista)
ast = parse(sql)

print(ast)


set_column = list(ast['set'].keys())[0]
set_value = ast['set'][set_column]['literal']
print(set_column, set_value)

where_column = ast['where']['eq'][0]
where_value = ast['where']['eq'][1]['literal'] 
print(where_column, where_value)

set_table = ast['update']
print(set_table)

In [ ]:
from mo_sql_parsing import parse

sql="""
    DELETE FROM lista_frutas 
    WHERE nm_fruta = 'limão';
    COMMIT;
    """
sql_lista = sql.split(";")
print(sql_lista)
sql_lista = [item.strip().lower()
                    for item in sql_lista if item.strip().lower() != '']

print(sql_lista)

sql = ' '.join(sql_lista)
ast = parse(sql)

print(ast)

In [ ]:
import os

with open(os.getcwd() + "/data/default/lista_frutas.csv") as f:
    lf_data = f.read()
with open(os.getcwd() + "/data/default/tipo_frutas.csv") as f:
    tf_data = f.read()
current_table = 1 if "lista_frutas" == "lista_frutas" else tf_data

print(lf_data)
x = lf_data.replace("\n", ";").split(";")
print(x)
lista_n = []
previous_pos = 0
for i in range(1, len(x) + 1):
    if i % 2 == 0:
        print(previous_pos, i)
        lista_n.append(tuple(x[previous_pos:i]))
        previous_pos = i 
print(lista_n)

In [ ]:
l = [('banana', 'doce'), ('limão', 'amargo'), ('bergamota', 'azedo'), ('maçã', 'doce')]

for value in l:
    print(list(value))

s = ""

if len(s) == 0:
    print(1)

x = [{'value': {'literal': 'doce'}}, {'value': 1.5}]

y = x[0]
k = y.values()
#print(k)

l2 = [['picoro', '2'], ['ss', 2]]
l3 = [tuple(value) for value in l2]
#print(l3)

for i in l2:
    for x in i:
        if x == 'picoro':
            del l2[l2.index(i)]
print(l2)

In [ ]:
where={'eq':['lista_frutas.tp_fruta','tipo_frutas.tp_fruta']}

left_table = list(where.values())[0][0]
new_where = {'and': [{'missing': left_table}, where]}

print(left_table)
print(new_where)